.elements__like-image{
    background-image: url(../../../../images/elements/like.png);
}

.elements__like-black{
    background-image: url(../../../../images/elements/black-like.png);
    background-repeat: no-repeat;
}