.popup__close-btn{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 0;
    position:absolute;
    right: 0px;
    top: -40px;
}

.popup__close-btn:hover{
    cursor: pointer;
    opacity: 0.6;
}
.popup__close-btn-image{
    width: 26px;
    height: 26px;
}

@media screen and (max-width:880px) {
    .popup__close-btn{
        right: 0px;
        top: -40px;
    }
}
