.elements__delete-show{
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 242px;
    cursor: pointer;
}

.elements__delete:hover{
    opacity: 0.7;
}